{
 "clientUsername": "{{ cu.clientUsername }}",
 "aclProfileName": "{{ cu.aclProfileName }}",
 "clientProfileName": "{{ cu.clientProfileName }}",
 "enabled": {{ cu.enabled }},
 "password": "{{ cu.password }}",
 "guaranteedEndpointPermissionOverrideEnabled": {{ cu.guaranteedEndpointPermissionOverrideEnabled }}
}