{
 "queueName": "{{ q.queueName }}",
 "ingressEnabled": {{ q.ingressEnabled }},
 "egressEnabled": {{ q.egressEnabled }},
 "permission": "{{ q.permission }}",
 "owner": "{{ q.owner }}",
 "accessType": "{{ q.accessType }}",
 "maxMsgSpoolUsage": {{ q.maxMsgSpoolUsage }},
 "consumerAckPropagationEnabled": {{ q.consumerAckPropagationEnabled }},
 "deadMsgQueue": "{{ q.deadMsgQueue }}",
 "maxBindCount": {{ q.maxBindCount }},
 "maxMsgSize": {{ q.maxMsgSize }},
 "maxRedeliveryCount": {{ q.maxRedeliveryCount }},
 "maxTtl": {{ q.maxTtl }},
 "maxDeliveredUnackedMsgsPerFlow": {{ q.maxDeliveredUnackedMsgsPerFlow }},
 "rejectLowPriorityMsgEnabled": {{ q.rejectLowPriorityMsgEnabled }},
 "rejectLowPriorityMsgLimit": {{ q.rejectLowPriorityMsgLimit }},
 "rejectMsgToSenderOnDiscardBehavior": "{{ q.rejectMsgToSenderOnDiscardBehavior }}",
 "respectMsgPriorityEnabled": {{ q.respectMsgPriorityEnabled }},
 "respectTtlEnabled": {{ q.respectTtlEnabled }},
 "eventBindCountThreshold": {
                "clearPercent": {{ q.eventBindCountThreshold.clearPercent }},
                "setPercent": {{ q.eventBindCountThreshold.setPercent }}
            },
 "eventMsgSpoolUsageThreshold": {
                "clearPercent": {{ q.eventMsgSpoolUsageThreshold.clearPercent }},
                "setPercent": {{ q.eventMsgSpoolUsageThreshold.setPercent }}
            },
 "eventRejectLowPriorityMsgLimitThreshold": {
                "clearPercent": {{ q.eventRejectLowPriorityMsgLimitThreshold.clearPercent }},
                "setPercent": {{ q.eventRejectLowPriorityMsgLimitThreshold.setPercent }}
            }
}